name: jpackage
on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        arch: [amd64]
        include:
          - os: macos-latest
            arch: aarch64


    steps:
      - name: Debug LFS
        run: ls -R ./lib
        ###
